body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.page-wrap {
    display: flex;
}

/*MENU*/
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    width: 388px;
    height: 56px;
    padding: 0 16px 0 16px;
}

#burger-menu {
    width: 40px;
    height: 40px;
    font-size: 20px;
    background-color: #FFFFFF;
    color: #707579;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

#burger-menu:hover {
    background-color: #F4F4F4;
}

.search-bar {
    display: flex;
    border-radius: 20px;
    border: solid 1px #C4C9CC;
    padding: 0 4px 0 4px;
    margin: 0 4px 0 4px;
    cursor: text;
}

#search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: #A9ACAF;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#search-input {
    padding: 0px;
    width: 240px;
    height: 40px;
    border-radius: none;
    border: none;
    font-size: 16px;
}

::placeholder {
    color: #A9ACAF;
}

#search-input:focus {
    outline: none;
}

#search-clear {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: #FFFFFF;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.contact-list {
    background-color: #FFFFFF;
    width: 420px;
    height: calc(100vh - 56px);
    overflow: hidden;
}

.contact-list:hover {
    overflow-y: scroll;
}

.contact-list::-webkit-scrollbar {
    width: 10px;
}

.contact-list::-webkit-scrollbar-track {
    background: none;
}
  
.contact-list::-webkit-scrollbar-thumb {
    border-radius: 40px;
    background-color: #CCCCCC;
    border: 3px solid #FFFFFF;
}

.contact-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 388px;
    height: 72px;
    padding: 0 8px 0 8px;
    margin: 0 8px 0 8px;
    border-radius: 10px;
    cursor: pointer;
}

.contact-box:hover {
    background-color: #F4F4F4;
}

.contact-info-wrap {
    width: 320px;
}

.name-time-wrap {
    display: flex;
    justify-content: space-between;
}

#contact-name-list {
    font-size: 16px;
    font-weight: 500;
}

#last-time{
    color: #707579;
    font-size: 12px;
}

#last-message {
    font-size: 16px;
    color: #707579;
}

#contact-picture-list {
    height: 54px;
    width: 54px;
    border-radius: 50%;
}

.message-body {
    outline: 2px solid #DFE1E5;
}

/*HEADER*/
.header {
    background-color: #FFFFFF;
    width: calc(100vw - 420px);
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.user-wrap {
    display: flex;
    padding-left: 16px;
}

.contact-name-header-wrap {
    padding: 0 0 0 18px;
}

#contact-picture-header {
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

#contact-name-header {
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

#contact-status {
    font-size: 14px;
    color: #707579;
}

.contact-options {
    display: flex;
    justify-content: space-between;
    padding-right: 16px;
    width: 144px;
}

.contact-options span {
    color: #707579;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-radius: 50%;
}

.contact-options span:hover {
    background-color: #F4F4F4;
}

.chat {
    background-color: green;
    width: calc(100vw - 420px);
    height: calc(100vh - 56px);
    overflow:auto;
}